/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 * Customized by Thanh Tran, https://int3ractive.com;
 */
section.has-dark-background, section.has-dark-background h1, section.has-dark-background h2, section.has-dark-background h3, section.has-dark-background h4, section.has-dark-background h5, section.has-dark-background h6 {
  color: #fff; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fff;
  background-color: #fff; }

.reveal {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 2.625em; /*42px / 16px*/
  font-weight: normal;
  color: #222; }

::selection {
  color: #fff;
  background: #FFD300;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #FFD300;
  text-shadow: none; }

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 1em 0;
  color: #222;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 2.5em; }

.reveal h2 {
  font-size: 1.6em; }

.reveal h3 {
  font-size: 1.3em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15); }

.reveal code {
  font-family: monospace;
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super;
  font-size: smaller; }

.reveal sub {
  vertical-align: sub;
  font-size: smaller; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #224A81;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #4E88BD;
  text-shadow: none;
  border: none; }

.dark-slide a {
  color: #4E88BD;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.dark-slide a:hover {
  color: #D7E4F2;
}

.reveal .roll span:after {
  color: #fff;
  background: #1a53a1; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #4E88BD;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #4E88BD; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #4E88BD; }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * USER CUSTOM STYLES
 *********************************************/

ul > li {
  margin-bottom: 0.5em;
}

.icon.icon {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.reveal img {
  max-width: 60%;
}

.reveal h1,
.reveal h2 {
  color: #EC7200; /* to meet AA contrast; old #FD7A00*/
  margin: 0 0 1em 0;
}

.dark-slide {
  color: #F4F4F4;
}

.dark-slide h1,
.dark-slide h2 {
  color: #FD7A00;
  text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}


.dark-slide h2 {
  font-size: 2.2em;
}

.dark-slide h3,
.dark-slide h4,
.dark-slide h5,
.dark-slide h6,
.dark-slide small {
  color: white;
  text-transform: initial;
}

.title-slide h1 + h3 {
  margin-top: 1.5em;
}

.slides__header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 0); /* center aligned */
  overflow: hidden; /* avoid margin collapse */
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  margin: 0.5em;
  height: 1em; /* 40/42; */
  border: 0;
  box-shadow: none;
  background: transparent;
}

  .logo img {
    height: 100%;
    max-height: 100%;
    max-width: 100%;
  }

.footnote {
  position: absolute;
  bottom: -2em;
  left: 0;
  right: 0;
  color: #777777;
}

.dark-slide .footnote {
  color: #CACACA;
}

.title-slide .footnote {
  bottom: -2.5em;
}

.footnote .center {
  text-align: center;
}

.col.col {
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

.col.col--large {
  width: 55%
}

.col.col--small {
  width: 35%
}

.red-text {
  color: #BD000E;
}

.featured-image {
  width: 65%;
}

.full-image.full-image {
  width: 100%;
  max-width: initial;
}

.mobile-mockup.mobile-mockup {
  background-image: url(../../img/pixel3-mockup.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 460px;
  height: 965px;
  position: relative;
  float: right;
}

.mobile-mockup.mobile-mockup--iphone {
  background-image: url(../../img/iphonex-mockup.png);
  height: 921px;
}

.mobile-mockup video,
.mobile-mockup img {
  position: absolute;
  left: 30px;
  top: 115px;
  width: 403px;
  max-width: initial;
}

.reveal .browsers-support-list {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.browsers-support-list .browsers-support-list__item {
  margin: 0 0.5em;
  font-size: 0.6em;
}

.browser-icon {
  width: 6em;
  text-align: center;
}

.browser-icon .browser-icon__icon {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 4em;
  max-width: none;
}

.browser-icon .browser-icon__status {
  height: 0.5em;
  background-color: #589F39;
}

.browser-icon .browser-icon__status--red {
  background-color: #E30127;
}

.browser-icon .browser-icon__status--orange {
  background-color: #FEB700;
}

.browsers-support {
  display: grid;
  grid-template-columns: 2fr 1fr 4fr;
  width: 50%;
  font-size: 0.65em;
}

.browsers-support--large {
  font-size: 1em;
  width: 70%;
  margin: auto;
}

.browsers-support--sticky {
  position: absolute;
  bottom: 0;
}

.browsers-support .browsers-support__group-title {
  margin: 0;
  grid-row-start: 1;
  font-weight: normal;
  letter-spacing: 0.2em;
}

.browsers-support .browsers-support-list {
  grid-row-start: 2;
  border-top: solid 4px #ccc;
  margin: 0 0.5em;
}

.browsers-support .browser-icon {
  width: 4.4em;
}

/*override some stupid rules*/
.reveal .mobile-mockup img {
  margin: 0;
}

.left-align {
  text-align: left;
}

.left-align > ul {
  margin-left: 1em;
}

.spacer {
  display: block;
  padding-bottom: 4em;
}

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: #fff; } }
